{:optimizations :advanced
 :main clojurescript.using-npm-dependency
 :output-to "out/index.js"
 :output-dir "out"
 :infer-externs true
 :target :bundle
 :bundle-cmd {:none ["npx" "webpack" "--mode=development"]
              :default ["npx" "webpack"]}}